AppDictionary/src/main/webapp/wsdl/ManagerDictionary.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://dictionary" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dictionary" xmlns:intf="http://dictionary" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://dictionary" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="update">
    <complexType>
     <sequence>
      <element name="word" type="xsd:string"/>
      <element name="mean" type="xsd:string"/>
      <element name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchDictionary">
    <complexType>
     <sequence>
      <element name="word" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchDictionaryResponse">
    <complexType>
     <sequence>
      <element name="searchDictionaryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delDictionary">
    <complexType>
     <sequence>
      <element name="word" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delDictionaryResponse">
    <complexType>
     <sequence>
      <element name="delDictionaryReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addDictionary">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="word" type="xsd:string"/>
      <element name="mean" type="xsd:string"/>
      <element name="type" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addDictionaryResponse">
    <complexType>
     <sequence>
      <element name="addDictionaryReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addDictionaryResponse">

      <wsdl:part element="impl:addDictionaryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchDictionaryRequest">

      <wsdl:part element="impl:searchDictionary" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchDictionaryResponse">

      <wsdl:part element="impl:searchDictionaryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delDictionaryResponse">

      <wsdl:part element="impl:delDictionaryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addDictionaryRequest">

      <wsdl:part element="impl:addDictionary" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delDictionaryRequest">

      <wsdl:part element="impl:delDictionary" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ManagerDictionary">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchDictionary">

         <wsdl:input message="impl:searchDictionaryRequest" name="searchDictionaryRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchDictionaryResponse" name="searchDictionaryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delDictionary">

         <wsdl:input message="impl:delDictionaryRequest" name="delDictionaryRequest">

       </wsdl:input>

         <wsdl:output message="impl:delDictionaryResponse" name="delDictionaryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDictionary">

         <wsdl:input message="impl:addDictionaryRequest" name="addDictionaryRequest">

       </wsdl:input>

         <wsdl:output message="impl:addDictionaryResponse" name="addDictionaryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManagerDictionarySoapBinding" type="impl:ManagerDictionary">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchDictionary">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchDictionaryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchDictionaryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delDictionary">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delDictionaryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delDictionaryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addDictionary">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDictionaryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addDictionaryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManagerDictionaryService">

      <wsdl:port binding="impl:ManagerDictionarySoapBinding" name="ManagerDictionary">

         <wsdlsoap:address location="http://localhost:8080/AppDictionary/services/ManagerDictionary"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
